<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body{
            font-family: 'roboto';
            font-weight: 200;
        }
        h1, h2, h3, h4, h5, h6 {
            font-weight: 400;
        }
    </style>
</head>
<body>
<div class="container" style="font-size: 16px; letter-spacing: -1px;">
    <div class="invoice__header" style="padding: 20px 16px;">
        <table style="width: 100%">
            <tbody>
            <tr>
                <td style="vertical-align: middle; text-align: left;">
                    <strong style="font-size: 46px; color: #447df8; font-weight: 900;">YOUR STYLE</strong>
                </td>
                <td style="text-align: right; vertical-align: middle; display: grid;">
                    <strong style="font-size: 26px; margin-bottom: 4px;">HÓA ĐƠN</strong>
                    <span style="margin-bottom: 4px;">Số hóa đơn: <strong>%%INVOICENO%%</strong></span>
                    <span style="margin-bottom: 4px; font-family: 'roboto',sans-serif">Ngày lập hóa đơn: <strong>%%INVOICEDATE%%</strong></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- First Section -->
    <div class="invoice-section-first" style="display: grid; font-size: 15px; background-color: #d9eef8; padding: 16px;">
        <strong style="font-size: 26px; color: #447df8; margin-bottom: 8px;">Xin chào, %%FULLNAME%%</strong>
        <p style="margin: unset; line-height: 22px; margin-bottom: 8px;">
            <strong style="font-size: 20px; color: #447df8;">YourStyle</strong> đã tiếp nhận được <strong style="font-weight: 700">
            đơn hàng <span style="font-size: 16px;">#%%INVOICENO%%</span></strong> của quý khách và đang trong quá trình xử lý. Quý khách sẽ nhận được thông báo tiếp theo khi đơn hàng chuẩn bị được giao.
        </p>
        <p style="margin: unset; line-height: 22px;">
            <strong style="font-weight: 700;">Lưu ý:</strong> Quý khách chỉ nên nhận hàng khi trạng thái đơn hàng là
            <strong style="color: #447df8; font-weight: 700;">'Đang giao hàng'</strong> và trong quá trình nhận hàng nhớ kiểm tra mã đơn hàng, thông tin người gửi và mã vận đơn để nhận đúng kiện hàng.
        </p>
    </div>

    <!-- Customer Info Section -->
    <div class="invoice-section-second" style="padding: 0px 16px;">
        <div style="border-bottom: 4px solid #447df8; padding: 20px 0px;">
            <strong style="font-size: 26px; color: #447df8; margin-bottom: 8px; display: inline-block;">Thông tin khách hàng nhận đơn</strong>
            <div class="info__delivery" style="display: grid;">
                <table>
                    <tbody>
                    <tr>
                        <td style="padding: 4px 8px; font-weight: bold; width: 25%">Tên khách hàng:</td>
                        <td style="padding: 4px 8px;">%%FULLNAME%%</td>
                    </tr>
                    <tr>
                        <td style="padding: 4px 8px; font-weight: bold; width: 25%">Liên hệ : </td>
                        <td style="padding: 4px 8px;">
                            <strong>Email:</strong> %%EMAIL%%<br>
                            <strong>Số điện thoại:</strong> %%PHONE%%
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 4px 8px; font-weight: bold; width: 25%">Địa chỉ nhận hàng:</td>
                        <td style="padding: 4px 8px;">%%ADDRESS%%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Order Info Section -->
    <div class="invoice-section-second" style="padding: 0px 16px;">
        <div style="border-bottom: 2px solid #447df8; padding: 20px 0px;">
            <strong style="font-size: 26px; color: #447df8; margin-bottom: 8px; display: inline-block;">Thông tin đơn hàng</strong>
            <div class="info__delivery" style="display: grid;">
                <table>
                    <tbody>
                    <tr>
                        <td style="padding: 4px 8px; font-weight: bold; width: 25%">Ngày đặt hàng:</td>
                        <td style="padding: 4px 8px;">%%INVOICEDATE%%</td>
                    </tr>
                    <tr>
                        <td style="padding: 4px 8px; font-weight: bold; width: 25%">Phương thức:</td>
                        <td style="padding: 4px 8px;">
                            <strong>Thanh toán:</strong> %%PAYMENTMETHOD%%<br>
                            <strong>Vận chuyển:</strong> %%DELIVERYMETHOD%%
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 4px 8px; font-weight: bold; width: 25%">Trạng thái:</td>
                        <td style="padding: 4px 8px;">
                            <strong>Đơn hàng:</strong> %%ORDERSTATUS%%<br>
                            <strong>Thanh toán:</strong> %%PAYMENTSTATUS%%
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 4px 8px; font-weight: bold; width: 25%">Phí vận chuyển:</td>
                        <td style="padding: 4px 8px;">%%SHIPPINGFEE%%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Order Details Section -->
        <div class="invoice-section-third" style="padding: 20px 16px;">
            <strong style="font-size: 26px; color: #447df8; margin-bottom: 8px; display: inline-block;">Chi tiết đơn hàng</strong>
            <table style="border-collapse: collapse; width: 100%;">
                <thead>
                <tr>
                    <th style="border: 1px solid #d9d9d9;text-align: center;vertical-align: middle;padding: 10px; background-color: #447df8;color: white; width: 700px;">Sản phẩm</th>
                    <th style="border: 1px solid #d9d9d9;text-align: center;vertical-align: middle;padding: 10px; background-color: #447df8;color: white; width: 120px;">Giá bán</th>
                    <th style="border: 1px solid #d9d9d9;text-align: center;vertical-align: middle;padding: 10px; background-color: #447df8;color: white; width: 120px;">Số lượng</th>
                    <th style="border: 1px solid #d9d9d9;text-align: center;vertical-align: middle;padding: 10px; background-color: #447df8;color: white; width: 120px;">Thành tiền</th>
                </tr>
                </thead>
                <tbody>%%ITEMSBOUGHT%%</tbody>
            </table>
        </div>
    </div>

    <!-- Total Price Section -->
    <div class="invoice-section-fourth" style="padding: 0px 16px;">
        <div style="padding: 12px 0px; border-bottom: 2px solid #447df8; border-top: 1px solid black;">
            <table style="width: 100%; font-size: 18px;">
                <tbody>
                <tr>
                    <td style="vertical-align: middle; text-align: left;">Tạm tính (%%TOTALITEM%% sản phẩm):</td>
                    <td style="vertical-align: middle; text-align: right;"><strong>%%TEMPPRICE%%</strong></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle; text-align: left;">Tiền giảm:</td>
                    <td style="vertical-align: middle; text-align: right;"><strong>%%DISCOUNTPRICE%%</strong></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle; text-align: left;">Phí vận chuyển:</td>
                    <td style="vertical-align: middle; text-align: right;"><strong>%%SHIPPINGFEE%%</strong></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle; text-align: left;">Thành tiền:</td>
                    <td style="vertical-align: middle; text-align: right;">
                        <strong style="color: #e74c3c; font-size: 24px; font-weight: 700;">%%TOTALPRICE%%</strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Footer Section -->
    <div class="invoice__footer" style="padding: 20px 16px;">
        <div class="footer-text" style="display: flex; justify-content: space-between; font-size: 12px;">
            <div>Địa chỉ liên hệ: <strong>%%ADDRESS%%</strong></div>
            <div>Điện thoại: <strong>%%PHONE%%</strong></div>
        </div>
    </div>
</div>
</body>
</html>
